{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <!-- Default sell form page (GET)-->

    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control"  name="symbol">
                <option disabled selected value="">Select Symbol</option>
                {% for i in symbols %}
                    <option value={{ i.symbol }}>{{ i.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="0" name="shares" placeholder="Enter Number of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}